{var $robots = noindex}

{block content}
	<section class="static-page 404">
		<h1 n:block=title>404 - Stránka nenalezena</h1>
		<p>Je nám líto, tato stránka nebyla nalezena, můžete se vrátit na <a href="/">úvodní stránku</a> nebo nám <a href="mailto:podpora@cardbook.cz">napsat</a></p>
	</section>
{/block}
